* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, .square {
    color: white;
}
header {
    padding: 20px 10px;
    background-color: navy;
    margin-bottom: 50px;
    
    text-align: right;
}
#start {
    border: none;
    color: navy;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}
#grid {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: darkgreen;
    border: 1px solid white;
}
.clicked-blue {
    background-color: rgb(3, 181, 181);
}